@font-face {
    font-family: 'Lexend';
    src: url("../../font/Lexend/Lexend-Regular.ttf") format('truetype');
}

.header-component {
    cursor: None;
    height: 100vh;
    background-color: transparent;
}

.Name {
    font-family: Lexend;
    text-align: left;
    padding-left: 5%;
    padding-top: 7%;
}

#Hi {
    color: #9F55FF;
    margin-bottom: 1%;
    font-family: Lexend;
}

#Mathis {
    color: white;
    font-size: 9vh;
    display: inline;
    position: relative;
    font-family: Lexend;
}

#Mathis::after {
    content: ''; /* Ajout d'un contenu pour l'élément ::after */
    position: absolute; /* Position absolue pour placer la barre de soulignement */
    bottom: -4%; /* Ajustement pour positionner la barre de soulignement au-dessous du texte */
    left: 0; /* Alignement à gauche */
    width: 100%; /* Barre de soulignement prenant toute la largeur du texte */
    height: 8%; /* Épaisseur du soulignement */
    background-color: #9F55FF; /* Couleur de la barre de soulignement */
    border-radius: 2px; /* Arrondir les coins du soulignement */
    box-shadow: 0px 8px 15px rgba(159, 85, 255, 1);
}

.swiper-container {
    height: 100vh;
    width: 100%;
}

#Texte_animation {
    color: grey;
}

#picture_about_me {

    position: absolute;
    padding-left: 10%;
    left: 60%;
    top: 20%;
}

#section {
    border: dashed blue;
}

#social {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    width: 10%;
}

#social a {
    padding-left: 50%;
}

a:hover {
    cursor: None;
}

#back-to-top-section {
    position: fixed;
    top: 7%;
    left: 2%;
    width: 10%;
    color: white;
}

#back-to-top-section > img {
    height: 20%;
    width: 20%;
}

#back-to-top-section > a {
    cursor: None;
}

