@font-face {
    font-family: 'Lexend';
    src: url("../../font/Lexend/Lexend-Regular.ttf") format('truetype');
}
.header-component {
    cursor: None;
    height: 100vh;
    background-color: transparent;
}
.Name {
    font-family: Lexend;
    text-align: left;
    padding-left: 5%;
    padding-top: 12%;
}
#Hi {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation-delay: 1s;
    animation: fadeIn 1s ease-in-out forwards;
    color: #804abe;
    margin-bottom: 1%;
    font-family: Lexend;
}
#Mathis {
    opacity: 0;
    transition: opacity 5s ease-in-out;
    animation-delay: 5s;
    animation: fadeIn 5s ease-in-out forwards;
    color: white;
    font-size: 9vh;
    display: inline;
    position: relative;
    font-family: Lexend;
}
#Mathis::after {
    content: ''; /* Ajout d'un contenu pour l'élément ::after */
    position: absolute; /* Position absolue pour placer la barre de soulignement */
    bottom: -4%; /* Ajustement pour positionner la barre de soulignement au-dessous du texte */
    left: 0; /* Alignement à gauche */
    width: 100%; /* Barre de soulignement prenant toute la largeur du texte */
    height: 8%; /* Épaisseur du soulignement */
    background-color: #804abe; /* Couleur de la barre de soulignement */
    border-radius: 2px; /* Arrondir les coins du soulignement */
    box-shadow: 0px 8px 15px rgba(159, 85, 255, 1);
}
.swiper-container {
    height: 100vh;
    width: 100%;
}
#Texte_animation {
    color: grey;
    opacity: 0;
    transition: opacity 5s ease-in-out;
    animation-delay: 5s;
    animation: fadeIn 5s ease-in-out forwards;
}
#picture_about_me {
    position: absolute;
    padding-left: 10%;
    left: 55%;
    top: 2%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    animation-delay: 2s;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
#section {
    border: dashed blue;
}
#social {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2%;
    width: 15%;
    padding-left: 5%;
    opacity: 0;
    transition: opacity 5s ease-in-out;
    animation-delay: 5s;
    animation: fadeIn 5s ease-in-out forwards;
}
#social a {

    padding-left: 20%;
}
a:hover {
    cursor: None;
}
