@font-face {
    font-family: 'Lexend';
    src: url("../../font/Lexend/Lexend-Regular.ttf") format('truetype');
}


.timeline-component {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh;
}
#timelineTitle {
    font-family: 'Lexend';
    margin-right: 10%;
    padding-top: 2.5%;
}

.horizontal-stepper {
    background: transparent;
    width: 200%;
}
.horizontal-stepper .MuiStepConnector-alternativeLabel {
   left: calc(-50% + 12px);
   right: calc(50% + 12px);
   color: white;
   border-top: 1px solid white;
}
  
.horizontal-stepper .MuiStepConnector-line {
  border-color: white;
  border-top-width: 1px;
}

.horizontal-stepper .MuiStepIcon-root:first-child {
  color: white;
}

.horizontal-stepper .MuiStepLabel-label:first-child {
    color: white;
}

.horizontal-stepper .MuiStepLabel-root:nth-child(1) .MuiStepLabel-label {
    position: relative;
}

.horizontal-scroll {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 50%;
    width: 100%;
    padding-top: 25%;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.stepLabelBottom {
    text-align: center;
    font-family: 'Lexend';
}

.stepTitle {
    font-size: 3vh;
    margin-bottom: 0%;
    margin-top: 0%;
}

.stepDate {
    color: rgb(175, 174, 174);
    font-size: 2vh;
    margin-bottom: 0%;
    margin-top: 0%;
}

.StepDescription {
    font-size: 2vh;
    margin-bottom: 0%;
    margin-top: 0%;
}

.stepLabelTop {
    text-align: center;
    position: absolute;
    top: -250px;
    width: 100%;
    font-family: 'Lexend';
}