@font-face {
    font-family: 'Lexend';
    src: url("../../font/Lexend/Lexend-Regular.ttf") format('truetype');
}


.timeline-component {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh;
    cursor: none;
}
#timelineTitle {
    font-family: 'Lexend';
    margin-right: 10%;
    padding-top: 5%;
}

.horizontal-stepper {
    background: transparent;
    width: 250%;
    cursor: none;
}
.horizontal-stepper .MuiStepConnector-alternativeLabel {
    left: calc(-50% + 12px);
    right: calc(50% + 12px);
    color: white;
    border-top: 1px solid white;
}

.horizontal-stepper .MuiStepConnector-line {
    border-color: white;
    border-top-width: 1px;
}

.horizontal-stepper .MuiStepIcon-root:first-child {
    color: white;
}

.horizontal-stepper .MuiStepLabel-label:first-child {
    color: white;
}

.horizontal-stepper .MuiStepLabel-root:nth-child(1) .MuiStepLabel-label {
    position: relative;
}

.horizontal-scroll {
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 50%;
    width: 100%;
    padding-top: 25%;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
    cursor: none;
}

.scroll-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.stepLabelBottom {
    text-align: center;
    font-family: 'Lexend';
    padding-top: 5%;
    cursor: none;
}

.stepTitle {
    font-size: 3vh;
    margin-bottom: 0%;
    margin-top: -5%;
    cursor: none;
}

.stepDate {
    color: rgb(175, 174, 174);
    font-size: 2vh;
    margin-bottom: 0%;
    margin-top: 0%;
    cursor: none;
}

.StepDescription {
    font-size: 2vh;
    margin-bottom: 0%;
    margin-top: 0%;
    vertical-align: top;
    cursor: none;
}

.stepLabelTop {
    text-align: center;
    position: absolute;
    top: -150%;
    width: 100%;
    font-family: 'Lexend';
    cursor: none;
}
#step-3 .stepLabelTop .stepTitle  {

    margin-top: -12%;
}

 .stepDescription {
    color : #804abe;
}